<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
</head>
<body>
<h1>My Recipes!</h1>
<!--view @ localhost:8080-->
<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
    </tr>
    <!-- iterator going over recipes -->
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}">123</td>
        <!-- Tasty Goodnees for the natural templating-->
        <td th:text="${recipe.description}">Tasty Goodnees</td>
    </tr>
</table>
</body>
</html>
